<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>Search interface for AID</description>
		<servlet-name>search</servlet-name>
		<servlet-class>org.vle.aid.client.search</servlet-class>
	</servlet>
	<servlet>
		<description>Client servlet for DidYouMean WS</description>
		<servlet-name>didyoumean</servlet-name>
		<servlet-class>org.vle.aid.client.didyoumeanClient</servlet-class>
	</servlet>
	<servlet>
		<description>Client for the Acronym/Synonym WS</description>
		<servlet-name>synonym</servlet-name>
		<servlet-class>org.vle.aid.client.synonymClient</servlet-class>
	</servlet>
	<servlet>
		<description>Client for the indexer WS</description>
		<servlet-name>indexClient</servlet-name>
		<servlet-class>org.vle.aid.client.indexClient</servlet-class>
	</servlet>
	<servlet>
		<description>Lower level client for the Lucene SearcherWS</description>
		<servlet-name>searchClient</servlet-name>
		<servlet-class>org.vle.aid.client.searchClient</servlet-class>
	</servlet>
	<servlet>
		<description>Processing and result servlet</description>
		<servlet-name>result</servlet-name>
		<servlet-class>org.vle.aid.client.result</servlet-class>
	</servlet>
	<servlet>
		<description>queryExpansion</description>
		<servlet-name>queryExpansion</servlet-name>
		<servlet-class>org.vle.aid.client.queryExpansion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LuceneAutoCompletionSVL</servlet-name>
		<servlet-class>org.vle.aid.client.LuceneAutoCompletionSVL</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jason</servlet-name>
		<servlet-class>org.vle.aid.client.jason</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>testFinder</servlet-name>
		<servlet-class>org.vle.aid.client.termFinder</servlet-class>
	</servlet>
	<servlet><description>Retrieve a HTML formatted page, with sentence offset information</description>
		<servlet-name>sentence</servlet-name>
		<servlet-class>org.vle.aid.client.LookupSentence</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>facet</servlet-name>
		<servlet-class>org.vle.aid.client.facet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>facet</servlet-name>
		<url-pattern>/facet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>item</servlet-name>
		<servlet-class>org.vle.aid.client.item</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>item</servlet-name>
		<url-pattern>/item/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
			Use predefined query patterns to search Zylab documents by a 
			patient's Patisnummer.
		</description>
		<display-name>AIDA – Zylab patis search client</display-name>
		<servlet-name>zylabPatisSearchClient</servlet-name>
		<servlet-class>nl.maastro.eureca.aida.search.zylabpatisclient.ZylabPatisClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zylabPatisSearchClient</servlet-name>
		<url-pattern>/zpsc/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>didyoumean</servlet-name>
		<url-pattern>/DidYouMeanClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>synonym</servlet-name>
		<url-pattern>/synonymClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/AID/*</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>synonym</servlet-name>
		<url-pattern>/synonymClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/AID/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>didyoumean</servlet-name>
		<url-pattern>/didyoumeanclient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchClient</servlet-name>
		<url-pattern>/searchClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>didyoumean</servlet-name>
		<url-pattern>/didyoumean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>synonym</servlet-name>
		<url-pattern>/synonym</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>synonym</servlet-name>
		<url-pattern>/synonyms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>synonym</servlet-name>
		<url-pattern>/ synonymclient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>result</servlet-name>
		<url-pattern>/Result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>result</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchClient</servlet-name>
		<url-pattern>/searchclient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>queryExpansion</servlet-name>
		<url-pattern>/queryExpansion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>queryExpansion</servlet-name>
		<url-pattern>/queryexpansion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LuceneAutoCompletionSVL</servlet-name>
		<url-pattern>/LuceneAutoCompletionSVL</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jason</servlet-name>
		<url-pattern>/jason</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>testFinder</servlet-name>
		<url-pattern>/testFinder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sentence</servlet-name>
		<url-pattern>/sentence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>indexClient</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping></web-app>

<!-- vim: set tabstop=2 shiftwidth=2 : -->