<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>learnCRF</servlet-name>
    <servlet-class>katrenko.ws.learnCRFServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>applyCRF</servlet-name>
    <servlet-class>katrenko.ws.applyCRFServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>output</servlet-name>
    <servlet-class>katrenko.ws.output</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>learnCRF</servlet-name>
    <url-pattern>/learnCRF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>applyCRF</servlet-name>
    <url-pattern>/applyCRF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>output</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  
</web-app>
