/Search/indexWebClient/target/
/Search/basicIndexClient/target/
/Search/Indexer/nbproject/private/
/Search/Indexer/build/
/Search/Indexer/dist/
/Search/Indexer/target/
/Search/search/.settings/
/Search/search/target/
/Search/zylabPatisClient/target/
