.settings
.project
.classpath
nb-configuration.xml
/Search/indexWebClient/target/
/Search/basicIndexClient/target/
/Search/Indexer/nbproject/private/
/Search/Indexer/build/
/Search/Indexer/dist/
/Search/Indexer/target/
/Search/search/.settings/
/Search/search/target/
/Search/zylabPatisClient/target/
/Search/zylabPatisClient/results/
/Search/zylabPatisClient/data
/Search/zylabPatisClient/results-*
/Search/filename-lookup/target/

/Search/velocityRdf/target/