<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Thesaurus</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.Thesaurus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgricolaHits</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.GetAgricolaHits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAgrisCarisHits</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.GetAgrisCarisHits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLogger</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.ChangeLogger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryAddRdfFileSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryAddRdfFileSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryAddRdfSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryAddRdfSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryAddRdfStatementSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryAddRdfStatementSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryRemoveRdfFileSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryRemoveRdfFileSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryRemoveRdfSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryRemoveRdfSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryRemoveRdfStatementSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryRemoveRdfStatementSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryClearSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryClearSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryExtractRdfSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryExtractRdfSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoryConstructQuerySVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositoryConstructQuerySVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositorySelectQuerySVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositorySelectQuerySVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositorySelectQueryTableSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.RepositorySelectQueryTableSVL</servlet-class>
    </servlet>
    <servlet><servlet-name>RepositoryGetRepositoriesSVL</servlet-name><servlet-class>org.vle.aid.metadata.client.RepositoryGetRepositoriesSVL</servlet-class></servlet>
    <servlet>
        <servlet-name>ThesaurusSearch</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.ThesaurusSearch</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ThesaurusBrowser</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.ThesaurusBrowser</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ThesaurusMappingToDo</servlet-name>
        <servlet-class>org.vle.aid.thesaurus.client.ThesaurusMappingToDo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThesaurusRepositorySVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.ThesaurusRepositorySVL</servlet-class>
    </servlet>
    <servlet><servlet-name>AutoCompletionSVL</servlet-name><servlet-class>org.vle.aid.metadata.client.AutoCompletionSVL</servlet-class></servlet>
    <servlet>
        <servlet-name>GetMatchingDocumentsSVL</servlet-name>
        <servlet-class>org.vle.aid.metadata.client.GetMatchingDocumentsSVL</servlet-class>
    </servlet>
    <servlet><servlet-name>AddTagSVL</servlet-name><servlet-class>org.vle.aid.bicad.client.AddTagSVL</servlet-class></servlet>
    <servlet>
        <servlet-name>GetTagsSVL</servlet-name>
        <servlet-class>org.vle.aid.bicad.client.GetTagsSVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTagLocationsSVL</servlet-name>
	<servlet-class>org.vle.aid.bicad.client.GetTagLocationsSVL</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>Thesaurus</servlet-name>
      <url-pattern>/Thesaurus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GetAgricolaHits</servlet-name>
      <url-pattern>/GetAgricolaHits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GetAgrisCarisHits</servlet-name>
      <url-pattern>/GetAgrisCarisHits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLogger</servlet-name>
        <url-pattern>/ChangeLogger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryAddRdfFileSVL</servlet-name>
        <url-pattern>/RepositoryAddRdfFileSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryAddRdfSVL</servlet-name>
        <url-pattern>/RepositoryAddRdfSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryAddRdfStatementSVL</servlet-name>
        <url-pattern>/RepositoryAddRdfStatementSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryRemoveRdfFileSVL</servlet-name>
        <url-pattern>/RepositoryRemoveRdfFileSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryRemoveRdfSVL</servlet-name>
        <url-pattern>/RepositoryRemoveRdfSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryRemoveRdfStatementSVL</servlet-name>
        <url-pattern>/RepositoryRemoveRdfStatementSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryClearSVL</servlet-name>
        <url-pattern>/RepositoryClearSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryExtractRdfSVL</servlet-name>
        <url-pattern>/RepositoryExtractRdfSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryConstructQuerySVL</servlet-name>
        <url-pattern>/RepositoryConstructQuerySVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositorySelectQuerySVL</servlet-name>
        <url-pattern>/RepositorySelectQuerySVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>RepositorySelectQueryTableSVL</servlet-name><url-pattern>/RepositorySelectQueryTableSVL</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoryGetRepositoriesSVL</servlet-name>
        <url-pattern>/RepositoryGetRepositoriesSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>ThesaurusSearch</servlet-name><url-pattern>/ThesaurusSearch</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ThesaurusBrowser</servlet-name><url-pattern>/ThesaurusBrowser</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ThesaurusMappingToDo</servlet-name><url-pattern>/ThesaurusMappingToDo</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ThesaurusRepositorySVL</servlet-name><url-pattern>/ThesaurusRepositorySVL</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompletionSVL</servlet-name>
        <url-pattern>/AutoCompletionSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMatchingDocumentsSVL</servlet-name>
        <url-pattern>/GetMatchingDocumentsSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagSVL</servlet-name>
        <url-pattern>/AddTagSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTagsSVL</servlet-name>
        <url-pattern>/GetTagsSVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTagLocationsSVL</servlet-name>
        <url-pattern>/GetTagLocationsSVL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
</web-app>
